---
export const prerender = true

import { getCollection, getEntryBySlug } from 'astro:content'
import DefaultPageLayout from '$/layouts/default.astro'
import PostPreviewList from '$/components/PostPreviewList.astro'
import Prose from '$/components/Prose.astro'
import { Content as AboutAstroInk } from './_astro-ink.md'
import Feature from '../components/Feature.astro'
import Partners from '../components/Partners.astro'

const title = 'Acceuil'
const description = 'Votre moteur de recherche blockchain made in Africa sur Crypto Afrique Futur'

const posts = await getCollection('blog')
---


<script>
    window.embeddedChatbotConfig = {
    chatbotId: "hrwrjNVOd0RIuFrxg0Zxq",
    domain: "www.chatbase.co"
    }
    </script>
    <script
    src="https://www.chatbase.co/embed.min.js"
    chatbotId="hrwrjNVOd0RIuFrxg0Zxq"
    domain="www.chatbase.co"
    defer>
    </script>
   
    <!-- End Google Tag Manager -->
	
   
<!-- Google Tag Manager (noscript) -->

    <!-- End Google Tag Manager (noscript) -->
<DefaultPageLayout content={{ title, description }} showPageHeader={false}>
  
    <div class="hero ">
        <div class="hero__face">
            <div class="author-card">
                <img src="/assets/cover.png" title="NGUEMBHYT Nit Harley" />
            </div>
        </div>
        <div class="hero__says">
            <Prose>
                <AboutAstroInk/>
            </Prose>
        </div>
    </div>
    <hr/>
    <Prose>
    <Feature />
    </Prose>
    <PostPreviewList posts={posts.slice(0, 3)} heading="articles les plus recherchés..."/>

    
    <div class="page__actions">
        <a class="action__go-to-blog ink-h" href="/blog" title="All Posts">Tous les articles &rarr;</a>
    </div>
    <div id="cookie-consent" class="fixed bottom-0 left-0 w-full bg-gray-900 text-white p-4 text-center hidden">
      <p class="mb-2">Ce site utilise des cookies pour améliorer l'expérience utilisateur. En continuant à naviguer sur ce site, vous acceptez notre utilisation des cookies.</p>
      <button id="accept-cookies" class="mt-2 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded mr-2">Accepter les cookies</button>
      <button id="reject-cookies" class="mt-2 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">Refuser les cookies</button>
  </div>
   
  
  <div class='text-center sm:text-center md:text-center lg:text-center xl:text-center'> 
    <!-- Autres contenus de votre page d'accueil --> 
    <h2 class="text-3xl font-semibold mb-10 tracking-tight text-orange-500 dark:text-orange-300">Nos Partenaires</h2> 
    <!-- Ajoutez de la marge après le titre -->
    <div class="mb-10"></div> <!-- Cela ajoute une marge de 8 unités de l'espace bas -->
    <!-- Inclure le composant de témoignage --> 
    <Partners/> <!-- Assurez-vous que votre composant est correctement inclus ici -->
</div>


    <div id="overlay" class="fixed inset-0 bg-black opacity-50 z-50"></div>
      <div id="cookie-consent" class="fixed bottom-0 left-0 w-full bg-gray-900 text-white p-4 text-center hidden">
        <p class="mb-2">Ce site utilise des cookies pour améliorer l'expérience utilisateur. En continuant à naviguer sur ce site, vous acceptez notre utilisation des cookies.</p>
        <div class="flex justify-center">
            <button id="accept-cookies" class="mt-2 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded mr-2">Accepter</button>
            <button id="reject-cookies" class="mt-2 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">Refuser</button>
        </div>
    </div>
     
</DefaultPageLayout>

<style>

#overlay {
    display: none;
}

#cookie-consent {
    animation: slide-up 0.5s ease-out forwards;
    z-index: 9999; /* Assure que le message est au-dessus de tout le contenu */
}


@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


    .hero {
        @apply flex flex-col md:flex-row gap-8 w-full transition-all pb-4
    }
    .hero__face {
        @apply flex md:flex-none justify-center
    }
    .hero__says {
        @apply flex-1 text-center md:text-left
    }
    .author-card {
        @apply  h-48 w-48 md:h-48 bg-theme-primary dark:bg-theme-dark-primary rounded-full md:rounded-md shadow-lg
    }
    .author-card img {
        @apply rounded-full h-48 w-48 
    }
    .page__actions {
        @apply flex justify-center md:justify-end py-6
    }
    .action__go-to-blog {
        @apply py-4 hover:underline
    }
</style>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const cookieConsent = document.getElementById('cookie-consent');
    const overlay = document.getElementById('overlay');
    const acceptCookiesBtn = document.getElementById('accept-cookies');
    const rejectCookiesBtn = document.getElementById('reject-cookies');

    // Vérifier si les cookies ont déjà été acceptés ou refusés
    const cookiesAccepted = localStorage.getItem('cookiesAccepted');

    if (cookiesAccepted === 'true' || cookiesAccepted === 'false') {
        // Cacher la boîte de consentement
        cookieConsent.classList.add('hidden');
        // Cacher l'overlay
        overlay.style.display = 'none';
    } else {
        // Afficher l'overlay lorsque la boîte de consentement aux cookies est affichée
        cookieConsent.classList.remove('hidden');
        overlay.style.display = 'block';
    }

    // Gérer le clic sur le bouton Accepter
    acceptCookiesBtn.addEventListener('click', function () {
        // Enregistrer la préférence de cookies acceptés
        localStorage.setItem('cookiesAccepted', true);
        // Cacher l'overlay et la boîte de consentement
        cookieConsent.classList.add('hidden');
        overlay.style.display = 'none';
    });

    // Gérer le clic sur le bouton Refuser
    rejectCookiesBtn.addEventListener('click', function () {
        // Enregistrer la préférence de cookies refusés
        localStorage.setItem('cookiesAccepted', false);
        // Cacher l'overlay et la boîte de consentement
        cookieConsent.classList.add('hidden');
        overlay.style.display = 'none';
    });
});

 
</script>

