---
export const prerender = true

import { getCollection, getEntryBySlug } from 'astro:content'
import DefaultPageLayout from '$/layouts/default.astro'
import PostPreviewList from '$/components/PostPreviewList.astro'
import Prose from '$/components/Prose.astro'
import { Content as AboutAstroInk } from './_astro-ink.md'


const title = 'Acceuil'
const description = 'Votre moteur de recherche blockchain made in Africa sur Crypto Afrique Futur'

const posts = await getCollection('blog')
---
<DefaultPageLayout content={{ title, description }} showPageHeader={false}>
    <div class="hero ">
        <div class="hero__face">
            <div class="author-card">
                <img src="/assets/cover.png" title="NGUEMBHYT Nit Harley" />
            </div>
        </div>
        <div class="hero__says">
            <Prose>
                <AboutAstroInk/>
            </Prose>
        </div>
    </div>
    <hr/>
    <PostPreviewList posts={posts.slice(0, 3)} heading="recent posts"/>
    <div class="page__actions">
        <a class="action__go-to-blog ink-h" href="/blog" title="All Posts">Tous les articles &rarr;</a>
    </div>

    <div class="container mx-auto py-12 flex flex-col items-center">
        <h2 class="text-3xl font-semibold mb-6">ğğ¨ğ¬ ğ©ğšğ«ğ­ğğ§ğšğ¢ğ«ğğ¬</h2>
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-6">
          <div class="flex justify-center items-center p-4 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105">
            <img src="/images/uploads/Disick.png" alt="Logo partenaire 1" class="max-h-12" />
          </div>
          <div class="flex justify-center items-center p-4 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105">
            <img src="/images/uploads/ifim.png" alt="Logo partenaire 2" class="max-h-12" />
          </div>
          <div class="flex justify-center items-center p-4 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105">
            <img src="/images/uploads/smb.png" alt="Logo partenaire 2" class="max-h-12" />
          </div>
          <div class="flex justify-center items-center p-4 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105">
            <img src="/images/uploads/communaute.png" alt="Logo partenaire 2" class="max-h-12" />
          </div>
          <div class="flex justify-center items-center p-4 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105">
            <img src="/images/uploads/argenlivre.png" alt="Logo partenaire 2" class="max-h-12" />
          </div>
          <div class="flex justify-center items-center p-4 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105">
            <img src="/images/uploads/businessmania.png" alt="Logo partenaire 2" class="max-h-12" />
          </div>
        </div>
      </div>
</DefaultPageLayout>

<style>
    .hero {
        @apply flex flex-col md:flex-row gap-8 w-full transition-all pb-4
    }
    .hero__face {
        @apply flex md:flex-none justify-center
    }
    .hero__says {
        @apply flex-1 text-center md:text-left
    }
    .author-card {
        @apply  h-48 w-48 md:h-56 bg-theme-primary dark:bg-theme-dark-primary rounded-full md:rounded-md shadow-lg
    }
    .author-card img {
        @apply rounded-full h-48 w-48 md:h-56
    }
    .page__actions {
        @apply flex justify-center md:justify-end py-6
    }
    .action__go-to-blog {
        @apply py-4 hover:underline
    }
</style>
