---
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---

<aside class="quiz-container flex flex-col md:flex-row items-center justify-center gap-8 border-t border-b border-gray-800 shadow-sm p-6 md:p-10 lg:p-20 mb-8 rounded-lg bg-orange-600">
    <h2 class="text-base md:text-lg lg:text-xl text-white text-center md:text-left max-w-xs lg:max-w-15ch"> Testez vos connaissances en blockchain avec le Blockchain Quiz</h2>
    <a href="https://cryptoafriquefutur.systeme.io/3ccf19b5" class="btn bg-orange-400 hover:bg-orange-500 text-white font-semibold py-2 px-4 rounded-full flex items-center justify-center md:justify-start">
        Faire le test
		<Icon icon="paper-plane-tilt" size="1em" class="ml-2" />
    </a>
</aside>

<aside class="quiz-container flex flex-col md:flex-row items-center justify-center gap-8 border-t border-b border-gray-800 shadow-sm p-6 md:p-10 lg:p-20 mb-8 rounded-lg bg-orange-600">
    <h2 class="text-base md:text-lg lg:text-xl text-white text-center md:text-left max-w-xs lg:max-w-15ch">Vous souhaitez augmenter vos connaissances en matière de blockchain ?</h2>
    <a href="https://www.youtube.com/playlist?list=PLMY1ngNDo5I4p5RHR9b1mn8xfCfk0J6M5" class="btn bg-orange-400 hover:bg-orange-500 text-white font-semibold py-2 px-4 rounded-full flex items-center justify-center md:justify-start">
        Accédez à la formation ici
		<Icon icon="paper-plane-tilt" size="1em" class="ml-2" />
    </a>
</aside>
