---
import { Icon } from 'astro-icon'

const features = [
  {
    name: 'Éducation et Documentation',
    description:
      'Nos articles et guides sont conçus avec soin pour être des ressources informatives et accessibles, adaptées à tous les niveaux de connaissances. Nous couvrons une gamme diversifiée de sujets, allant des concepts fondamentaux de la technologie blockchain à ses applications les plus avancées',
    icon: 'sparkles'
  },
  {
    name: 'Accompagnement et Conseils',
    description:
      'Nous proposons un accompagnement personnalisé aux particuliers et aux entreprises souhaitant adopter et tirer parti de la technologie blockchain dans leurs projets et leurs opérations. Explorez avec nous les nombreuses façons dont la blockchain peut transformer votre activité.',
    icon: 'presentation-chart-bar'
  },
  {
    name: 'Partage de Connaissances',
    description:
      'Nous encourageons les experts et les passionnés de la blockchain à partager leurs connaissances et leurs expériences en soumettant des articles et des contributions au blog.',
    icon: 'puzzle'
  },
  {
    name: 'Collaborations et Opportunités',
    description:
      "Nous sommes ouverts aux collaborations et aux partenariats avec d'autres acteurs de l'écosystème blockchain pour promouvoir l'adoption et l'innovation dans le domaine.",
    icon: 'clock'
  }
]
---

<div class='bg-gray-100 py-12 dark:bg-gray-800'>
  <div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8'>
    <div class='lg:text-center'>
      <h2
        class='text-base font-semibold uppercase tracking-wide text-purple-800 dark:text-purple-300'
      >
        
      </h2>
      <p class='text-3xl font-semibold mb-6 text-center tracking-tight text-orange-600 dark:text-orange-300'>
       Un Guide Complet et Collaboratif
      </p>
      <p class='mt-4 text-center text-gray-600 dark:text-gray-50 lg:mx-auto'>
        Nos articles et guides sont conçus avec soin pour être des ressources informatives et accessibles. Plongez dans un univers où la blockchain devient accessible à tous.
      </p>
      
    </div>

    <div class='mt-10'>
        <dl class='space-y-10 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10 md:space-y-0'>
          {
            features.map((feature) => (
              <div class='text-gray-50 p-6 rounded-lg shadow-md dark:bg-gray-800 border border-gray-200 dark:border-gray-700'
 class='relative'>
                <dt>
                  <div class='absolute flex h-12 w-12 items-center justify-center rounded-md bg-orange-600 text-white dark:bg-orange-300 dark:text-black'>
                    <Icon
                      class='h-6 w-6'
                      aria-hidden='true'
                      pack='heroicons-outline'
                      name={feature.icon}
                    />
                  </div>
                  <p class='ml-16 text-lg font-medium leading-6 text-orange-600 dark:text-orange-500'>
                    {feature.name}
                  </p>
                </dt>
                <dd class='ml-16 mt-2 text-base text-gray-600 dark:text-gray-50'>
                  {feature.description}
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
      