---
import { toTitleCase } from '$/utils'
import { NAV_ITEMS } from '$/config'
---
<nav class="nav py-3" id="mainNav">
    <div class="nav-container dark:text-theme-dark-secondary overflow-x-auto flex flex-no-wrap" transition:animate="fade">
        <ul class="nav-list list-none flex">
            {
                Object.keys(NAV_ITEMS).map(navItemKey => <li>
                    <a class:list={[
                        `py-2 px-4 rounded-md hover:bg-gray-200 dark:hover:bg-gray-800 transition-colors duration-300 ease-in-out`,
                        Astro.url.pathname !== NAV_ITEMS[navItemKey].path ? 'text-gray-600 dark:text-gray-400' : 'text-theme-primary',
                        Astro.url.pathname === NAV_ITEMS[navItemKey].path ? 'bg-theme-primary text-white' : ''
                    ]} href={NAV_ITEMS[navItemKey].path} title={NAV_ITEMS[navItemKey].title}>{toTitleCase(NAV_ITEMS[navItemKey].title)}</a>
                </li>)
            }
        </ul>
    </div>
</nav>
    
<style>
   
   .nav {
    transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; /* Ajout de transitions pour l'apparence du menu */
    background-color: rgba(255, 255, 255, 0); /* Menu initialement transparent */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0); /* Ombre initialement transparente */
    animation: fadeInDown 0.5s ease;
}

.nav.hidden {
    transform: translateY(-100%);
    opacity: 0;
    animation: fadeOutUp 0.5s ease;
}

.nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Assure que le menu fixé soit au-dessus de tout autre contenu */
    background-color: rgba(255, 255, 255, 0.9); /* Fond du menu fixé avec une légère transparence */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre portée pour le menu fixé */
}

.nav-container {
    padding: 0 20px; /* Ajustez le rembourrage pour plus d'espace autour du contenu */
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}




    .nav-list {
        @apply list-none flex gap-8 text-xl font-semibold text-theme-secondary dark:text-theme-dark-secondary py-2 mb-8;
    }
    .nav-list li {
        @apply flex-shrink-0; /* Empêcher le rétrécissement des éléments */
    }
    /* Pour garantir le défilement horizontal en format mobile */
    @media screen and (max-width: 640px) {
        .nav-container {
            @apply overflow-x-auto; /* Activation du défilement horizontal */
        }
    }
</style>


<script>
let lastScrollTop = 0;

window.addEventListener('scroll', function() {
    var nav = document.getElementById('mainNav');
    var st = window.pageYOffset || document.documentElement.scrollTop;
    if (st > lastScrollTop) {
        nav.classList.add('hidden'); // Si le défilement est vers le bas, masquez le menu
    } else {
        nav.classList.remove('hidden'); // Si le défilement est vers le haut, montrez le menu
    }
    lastScrollTop = st <= 0 ? 0 : st; // Pour gérer les défilements vers le haut lorsqu'ils atteignent le haut de la page
});

window.addEventListener('scroll', function() {
    var nav = document.getElementById('mainNav');
    if (window.scrollY > 50) { // Ajustez cette valeur en fonction de la position de défilement à partir de laquelle vous voulez fixer le menu
        nav.classList.add('fixed');
    } else {
        nav.classList.remove('fixed');
    }
});


</script>




