---
import Icon from './Icon.astro';
---

<p class="text-center"> <strong> Crypto Afrique Futur</strong> est une entreprise dédiée à l'accompagnement des particuliers et des entreprises africaines dans le monde révolutionnaire des cryptomonnaies. Nous croyons en l'immense potentiel de la blockchain et des actifs numériques pour transformer les économies et créer des opportunités d'investissement accessibles à tous.</p>
<p class='text-3xl font-semibold mb-6 text-center tracking-tight text-orange-600 dark:text-orange-300'>
  Nos Services
</p>
<section class="box skills">
  <div class="stack gap-2 lg:gap-4 ">
      <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
      <h2>Investissement en Cryptomonnaies</h2>
      <p>Nous aidons nos clients à diversifier leurs portefeuilles d'investissement en intégrant des cryptomonnaies. Contrairement aux investissements traditionnels comme l'immobilier, les cryptomonnaies offrent une liquidité supérieure et des perspectives de rendements à long terme. Nos experts vous guident pour maximiser vos gains tout en minimisant les risques.</p>
  </div>
  <div class="stack gap-2 lg:gap-4">
      <Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
      <h2>Formations en Cryptomonnaies</h2>
      <p>Crypto Afrique Futur propose des formations complètes sur les cryptomonnaies et la technologie blockchain. Que vous soyez débutant ou investisseur aguerri, nos programmes sont conçus pour vous fournir les connaissances et les compétences nécessaires pour naviguer avec succès dans ce secteur dynamique et révolutionnaire.</p>
  </div>
  <div class="stack gap-2 lg:gap-4">
      <Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
      <h2>Accompagnement et Consulting</h2>
      <p>Nous offrons un accompagnement personnalisé et des services de consulting pour les entreprises et les particuliers souhaitant entrer dans l'univers des cryptomonnaies. De l'élaboration de stratégies d'investissement à la gestion de portefeuilles, notre équipe d'experts est là pour vous soutenir à chaque étape.</p>
  </div>
</section>

<style>
  :root {
    --text-color-light: var(--gray-900); /* Light mode text color */
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --text-color-light: var(--gray-100); /* Dark mode text color */
    }
}
  .box {
      border: 1px solid var(--gray-800);
      border-radius: 0.75rem;
      padding: 1.5rem;
      background-color: var(--gray-999_40);
      box-shadow: var(--shadow-sm);
  }

  .skills .stack {
    border: 1px solid var(--gray-800); /* Add border */
    border-radius: 0.5rem; /* Adjust border radius */
    padding: 1.5rem; /* Adjust padding */
    background-color: var(--gray-800); /* Add background color */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
  }

  .skills {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      border: 1px solid var(--gray-800);
    border-radius: 0.5rem;
    padding: 1.5rem;
 
  }

  .skills h2 {
      font-size: var(--text-lg);
      margin-bottom: 0.5rem; /* Added margin bottom for better separation */
  }

  .skills p {
      color: var(--gray-400);
      line-height: 1.5; /* Adjusted line height for better readability */
  }

  @media (min-width: 50em) {
      .box {
          border-radius: 1.5rem;
          padding: 2.5rem;
      }

      .skills {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 5rem;
      }

      .skills h2 {
          font-size: var(--text-2xl);
      }
  }
</style>

