<p class='text-3xl font-semibold mb-6 text-center tracking-tight text-orange-600 dark:text-orange-300'>
    Temoignages
  </p>
<script type="module">


    const testimonials = [
    {
      image: '/assets/temoignage1.png'
    },
    {
      image: '/assets/temoignage2.png'
    },
    {
      image: '/assets/temoignage3.png'
    },
    {
      image: '/assets/temoignage4.png'
    },
    {
      image: '/assets/temoignage5.png'
    },
    {
      image: '/assets/temoignage6.png'
    },
    {
      image: '/assets/temoignage7.png'
    },
    {
      image: '/assets/temoignage8.png'
    },
    // Ajoutez d'autres captures d'écran de témoignage ici
    ];

    let currentTestimonialIndex = 0;

    function showTestimonial(index) {
      const testimonialSlider = document.getElementById('testimonial-slider');

      const testimonialHTML = `
        <img src="${testimonials[index].image}" alt="Testimonial Screenshot" class="max-w-full" />
      `;
      testimonialSlider.innerHTML = testimonialHTML;
    }

    function prevTestimonial() {
      currentTestimonialIndex = (currentTestimonialIndex - 1 + testimonials.length) % testimonials.length;
      showTestimonial(currentTestimonialIndex);
    }

    function nextTestimonial() {
      currentTestimonialIndex = (currentTestimonialIndex + 1) % testimonials.length;
      showTestimonial(currentTestimonialIndex);
    }

    const prevBtn = document.getElementById('prevBtn');
    const nextBtn = document.getElementById('nextBtn');

    prevBtn.addEventListener('click', prevTestimonial);
    nextBtn.addEventListener('click', nextTestimonial);

    // Afficher le premier témoignage au chargement de la page
    window.addEventListener('DOMContentLoaded', () => {
      showTestimonial(currentTestimonialIndex);
    });
</script>

<div class="flex justify-center items-center">
    <button id="prevBtn" class="prev-btn mr-4 px-4 py-2 bg-orange-500 text-white rounded-md shadow-md hover:bg-orange-600 focus:outline-none transition duration-300 ease-in-out transform hover:scale-105">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg> <!-- Icône de flèche gauche -->
    </button>
    <div id="testimonial-slider" class="testimonial-slider flex items-center justify-center max-w-sm"></div>
    <button id="nextBtn" class="next-btn ml-4 px-4 py-2 bg-orange-500 text-white rounded-md shadow-md hover:bg-orange-600 focus:outline-none transition duration-300 ease-in-out transform hover:scale-105">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg> <!-- Icône de flèche droite -->
    </button>
</div>

<style>

.testimonial-slider img {
        max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur de son conteneur */
        border-radius: 8px; /* Ajoutez une bordure arrondie */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ajoutez une ombre pour un effet de profondeur */
        transition: transform 0.3s ease; /* Ajoutez une transition pour un effet de survol */
    }

    .testimonial-slider img:hover {
        transform: scale(1.05); /* Effectuez un agrandissement léger de l'image au survol */
    }
</style>